{% extends '_base_panel.html' %}

{% load static %}

{% block content %}
    {% include "component/sidebar.html" %}

    <div class="relative flex flex-col w-full h-auto p-8 text-gray-700 bg-white shadow-md rounded-xl bg-clip-border">
        <div class="relative mx-4 mt-4 text-gray-700 bg-white rounded-none bg-clip-border">
          <div class="flex items-center justify-between gap-8 mb-8">
            <div>
              <h5
                class="block font-sans text-xl antialiased font-semibold leading-snug tracking-normal text-blue-gray-900">
                User Management
              </h5>
              <p class="block mt-1 font-sans text-base antialiased font-normal leading-relaxed text-gray-700">
                See information about all users
              </p>
            </div>
            <div class="flex flex-col gap-2 shrink-0 sm:flex-row">
              <a href="{% url 'user_management' %}"
                class="select-none rounded-lg border border-gray-900 py-2 px-4 text-center align-middle font-sans text-xs font-bold uppercase text-gray-900 transition-all hover:opacity-75 focus:ring focus:ring-gray-300 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                type="button">
                Paginate
              </a>
              <a href="{% url 'new_user' %}"
                class="flex select-none items-center gap-3 rounded-lg bg-blue-600 py-2 px-4 text-center align-middle font-sans text-xs font-bold uppercase text-white shadow-md shadow-gray-900/10 transition-all hover:shadow-lg hover:shadow-gray-900/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                type="button">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true"
                  stroke-width="2" class="w-4 h-4">
                  <path
                    d="M6.25 6.375a4.125 4.125 0 118.25 0 4.125 4.125 0 01-8.25 0zM3.25 19.125a7.125 7.125 0 0114.25 0v.003l-.001.119a.75.75 0 01-.363.63 13.067 13.067 0 01-6.761 1.873c-2.472 0-4.786-.684-6.76-1.873a.75.75 0 01-.364-.63l-.001-.122zM19.75 7.5a.75.75 0 00-1.5 0v2.25H16a.75.75 0 000 1.5h2.25v2.25a.75.75 0 001.5 0v-2.25H22a.75.75 0 000-1.5h-2.25V7.5z">
                  </path>
                </svg>
                Add New User
              </a>
            </div>
          </div>

          <div class="flex flex-col items-center justify-end gap-4 md:flex-row">
            
            

          </div>
        </div>


        <div class="py-6 px-0 overflow-auto">
          <table class="w-full mt-4 text-left table-auto min-w-max border border-gray-500 rounded overflow-auto">
            <thead>
              <tr>
                <th
                  class="p-4 transition-colors cursor-pointer border-y border-blue-gray-100 bg-blue-600 hover:bg-blue-500">
                  <p
                    class="flex items-center justify-between gap-2 font-sans text-sm font-bold leading-none text-white">
                    Account
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                      stroke="currentColor" aria-hidden="true" class="w-4 h-4">
                      <path stroke-linecap="round" stroke-linejoin="round"
                        d="M8.25 15L12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9"></path>
                    </svg>
                  </p>
                </th>
                <th
                  class="p-4 transition-colors cursor-pointer border-y border-blue-gray-100 bg-blue-600 hover:bg-blue-500">
                  <p
                    class="flex items-center justify-between gap-2 font-sans text-sm font-bold leading-none text-white">
                    Username
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                      stroke="currentColor" aria-hidden="true" class="w-4 h-4">
                      <path stroke-linecap="round" stroke-linejoin="round"
                        d="M8.25 15L12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9"></path>
                    </svg>
                  </p>
                </th>
                  <th
                    class="p-4 transition-colors cursor-pointer border-y border-blue-gray-100 bg-blue-600 hover:bg-blue-500">
                    <p
                      class="flex items-center justify-between gap-2 font-sans text-sm font-bold leading-none text-white">
                      Type
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                        stroke="currentColor" aria-hidden="true" class="w-4 h-4">
                        <path stroke-linecap="round" stroke-linejoin="round"
                          d="M8.25 15L12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9"></path>
                      </svg>
                    </p>
                  </th>
                <th
                  class="p-4 transition-colors cursor-pointer border-y border-blue-gray-100 bg-blue-600 hover:bg-blue-500">
                  <p
                    class="flex items-center justify-between gap-2 font-sans text-sm font-bold leading-none text-white">
                    Status
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                      stroke="currentColor" aria-hidden="true" class="w-4 h-4">
                      <path stroke-linecap="round" stroke-linejoin="round"
                        d="M8.25 15L12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9"></path>
                    </svg>
                  </p>
                </th>
                <th
                  class="p-4 transition-colors cursor-pointer border-y border-blue-gray-100 bg-blue-600 hover:bg-blue-500">
                  <p
                    class="flex items-center justify-between gap-2 font-sans text-sm font-bold leading-none text-white">
                    Joined
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                      stroke="currentColor" aria-hidden="true" class="w-4 h-4">
                      <path stroke-linecap="round" stroke-linejoin="round"
                        d="M8.25 15L12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9"></path>
                    </svg>
                  </p>
                </th>
                <th
                  class="p-4 transition-colors cursor-pointer border-y border-blue-gray-100 bg-blue-600 hover:bg-blue-500">
                  <p
                    class="flex items-center justify-between gap-2 font-sans text-sm font-bold leading-none text-white">
                  Actions    
                  </p>
                </th>
              </tr>
            </thead>
            
            <tbody>
            {% for user in users %}
              <tr>
                <td class="p-4 border-b border-blue-gray-50">
                  <div class="flex items-center gap-3">
                    <img src="{% static 'img/user.png' %}"
                      alt="John Michael" class="relative inline-block h-9 w-9 !rounded-full object-cover object-center" />
                    <div class="flex flex-col">
                      <p class="block font-sans text-sm antialiased font-normal leading-normal text-blue-gray-900">
                        {{ user.first_name }} {{ user.last_name }}
                      </p>
                      <p
                        class="block font-sans text-sm antialiased font-normal leading-normal text-blue-gray-900 opacity-70">
                        {{ user.email }}
                      </p>
                    </div>
                  </div>
                </td>
                <td class="p-4 border-b border-blue-gray-50">
                  <div class="flex flex-col">
                    <p class="block font-sans text-sm uppercase antialiased font-normal leading-normal text-blue-gray-900">
                        {{ user.username }}
                    </p>
                    
                  </div>
                </td>
                <td class="p-4 border-b border-blue-gray-50">
                  <div class="flex flex-col">
                    <p class="block font-sans text-sm uppercase antialiased font-normal leading-normal text-blue-gray-900">
                        {{ user.role }}
                    </p>
                    
                  </div>
                </td>
                <td class="p-4 border-b border-blue-gray-50">
                  <div class="w-max">
                    {% if user.is_active %}
                    <div
                      class="relative grid items-center px-2 py-1 font-sans text-xs font-bold text-green-900 uppercase rounded-md select-none whitespace-nowrap bg-green-500/20">
                      <span class="">active</span>
                    </div>
                    {% else %}
                    <div
                      class="relative grid items-center px-2 py-1 font-sans text-xs font-bold text-slate-900 uppercase rounded-md select-none whitespace-nowrap bg-slate-500/20">
                      <span class="">inactive</span>
                    </div>

                    {% endif %}
                  </div>
                </td>
                <td class="p-4 border-b border-blue-gray-50">
                  <p class="block font-sans text-sm antialiased font-normal leading-normal text-blue-gray-900">
                    {{ user.date_joined.date }}
                  </p>
                </td>
                <td class="p-4 border-b border-blue-gray-50">
                  <a href="{% url 'update_user' user.id %}"
                    class="relative h-10 max-h-[40px] w-10 max-w-[40px] select-none rounded-lg text-center align-middle font-sans text-xs font-medium uppercase text-gray-900 transition-all hover:bg-gray-900/10 active:bg-gray-900/20 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                    type="button">
                    <span class="absolute transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true"
                        class="w-4 h-4">
                        <path
                          d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-12.15 12.15a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32L19.513 8.2z">
                        </path>
                      </svg>
                    </span>
                  </a>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>


        
      </div>
{% endblock content %}
    