{% extends "shop/base_cart.html" %}

{% load static %}
{% block content %}

<div class="bg-white my-8 rounded-md drop-shadow-md p-5">

{% if items %}
<h1 class="font-bold text-2xl uppercase mb-3 text-blue-gray-900">
    My Cart
</h1>

<div class="w-full grid lg:grid-cols-3 border-black mx-auto min-h-[60vh]">
    
    <div class="lg:col-span-2 p-5">
        <p class="font-semibold text-blue-gray-800 uppercase text-xl">
            Product Details
        </p>

        <div class="py-8 grid lg:grid-cols-4 gap-7">
            {% for item in items  %}
            <div class="grid grid-cols-3 col-span-2 lg:grid-rows-2 gap-1">
                <div class="row-span-2">
                    <img src="{{ item.product.product_img.url }}" alt="{{ item.product.product_img }}" class="w-24 h-20 rounded-md drop-shadow-md">
                </div>

                <div class="col-span-2 text-sm text-blue-700 pt-3">{{ item.product.name }}</div>

                <div class="col-span-2 text-sm text-blue-gray-900">&#8369; {{ item.product.formatted_price }}</div>
            </div>


            <h2 class="p-6 text-blue-gray-900 text-sm"><span class="mx-3">x {{ item.quantity }}</span> &#8369; {{ item.formatted_price }}
                
            </h2>
            
            <div class="p-6">
                <a href="{% url 'del_cart_item' item.id %}" class="px-4 text-white py-2 rounded text-sm uppercase !bg-red-400">Remove</a>
            </div>
            
            {% endfor %}
        </div>
        
        
    </div>
    <div class="drop-shadow bg-gradient-to-tr from-blue-700 to-blue-500 p-5 rounded-md grid grid-rows-5">
        <p class="font-semibold text-white uppercase text-xl">
            Checkout Summary
        </p>

        <div class="row-span-3 flex flex-col items-center">
            {% for item in items %}
            <div class="w-1/2 tracking-wide p-3 col-span-2 text-xl text-white flex items-center justify-between">
                <div>&#8369; {{ item.product.formatted_price }}</div>
                <div class="text-gray-200 font-normal text-base">x {{ item.quantity }}</div>
            </div>
            {% endfor %}
            <div class="w-1/2 tracking-wide border-t-2 border-gray-500 p-3 col-span-2 text-xl text-white">&#8369; {{ subtotal }}</div>

        </div>

        <div class="flex flex-col gap-5">
            <a href="{% url 'all_product' %}" class="block p-3 w-full drop-shadow-md border-2 border-white text-white rounded-md uppercase text-sm font-semibold text-center">Continue Shopping</a>
            <a href="{% url 'checkout_view' %}" class="bg-white block p-3 w-full drop-shadow-md rounded-md uppercase font-semibold text-center">Checkout</a>
        </div>
    </div>
</div>

<div>
    
</div>

{% else %}

<div class="p-8 w-1/3 mx-auto">
    <img src="{% static 'img/empty_cart.svg' %}" alt="empty_cart" class="w-50">


    <h2 class="uppercase text-gray-700 text-2xl text-center py-14">Empty Cart</h2>
</div>

{% endif %}

</div>


{% endblock content %}


