{% extends "shop/base_cart.html" %}

{% load static %}

{% block content %}


{% if orders %}
<h3 class="max-w-screen-xl mx-auto mt-10 flex items-center justify-between">
    <div class="uppercase text-blue-gray-800 font-bold text-2xl">My Orders</div>

</h3>
<div class="bg-blue-gray-50 rounded-md max-w-screen-xl mx-auto max-h-[500px] overflow-y-auto shadow-md my-10">
    <table class="w-full max-h-[80%] text-left table-auto min-w-max border-collapse">
        <thead class="bg-gradient-to-r from-blue-500 to-teal-500 text-white sticky top-0">
          <tr class="uppercase text-sm">
            <th class="py-3 px-5">Order ID</th>
            <th class="py-3 px-5">Total</th>
            <th class="py-3 px-5">Gcash No.</th>
            <th class="py-3 px-5">Proof of Payment</th>
            <th class="py-3 px-5">Status</th>
            <th class="py-3 px-5">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for order in orders %}
          <tr class="text-sm">
            <td class="py-8 px-5 border-e border-e-gray-300 font-semibold">{{ order.id }}</td>
            <td class="py-3 px-5 border-e border-e-gray-300 font-semibold">&#8369; {{ order.formatted_total }}</td>
            <td class="py-3 px-5 border-e border-e-gray-300 font-semibold">{{ order.gcash_num }}</td>
            <td class="py-3 px-5 border-e border-e-gray-300 font-semibold">
                <a class="px-4 py-2 bg-teal-800 text-white rounded-md drop-shadow-md hover:opacity-75 transition-all" href="{{ order.receipt.url }}" target="_blank">View Proof of Payment</a>
                
            </td>
            <td class="py-3 px-5 border-e border-e-gray-300 font-semibold">

                {% if order.status == "pending" %}
                <span class="text-amber-900 uppercase">{{ order.status }}</span>

                {% elif order.status == "complete" %}
                <span class="text-light-green-700 uppercase">{{ order.status }}</span>

                {% elif order.status == "preparing" %}
                <span class="text-teal-500 uppercase">{{ order.status }}</span>

                {% elif order.status == "ready" %}
                <span class="text-blue-600 uppercase">For Pickup</span>

                {% elif order.status == "cancelled" %}
                <span class="text-red-600 uppercase">{{ order.status }}</span>

                {% endif %}
                
            </td>
            <td class=" gap-4 py-3 px-5 border-e border-e-gray-300 font-semibold">
                <div class="flex justify-center items-center gap-5">
                    <a class="px-4 py-2 bg-gray-900 text-white rounded-md drop-shadow-md hover:opacity-75 transition-all" href="{% url 'view_order' order.id %}">View Order</a>

                    <a class="px-4 py-2 bg-gray-900 text-white rounded-md drop-shadow-md hover:opacity-75 transition-all" href="{% url 'print_order_receipt' order.id %}" target="_blank">Receipt</a>
                </div>
            </td>
          </tr>
          {% endfor %}
          

        </tbody>
    </table>
  </div>

{% else %}
<div class="p-8 w-1/3 mx-auto">
  <img src="{% static 'img/empty_cart.svg' %}" alt="empty_cart" class="w-50">
  <h2 class="uppercase text-gray-700 text-2xl text-center py-14">No Orders</h2>
</div>
{% endif %}




{% endblock content %}