{% extends "shop/base.html" %}

{% load static %}

{% block content %}

      <div class="max-w-screen-xl mx-auto">

            <div class="flex justify-start mt-5">
                  <a onclick="history.back()">
                        <button
                          class="mx-5 align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6 rounded-lg border border-gray-900 text-gray-900 hover:opacity-75 focus:ring focus:ring-gray-300 active:opacity-[0.85]"
                          type="button">
                          Go Back
                        </button>
                  </a>
            </div>


            {% include "../component/viewing.html" %}
      </div>

  
    
{% endblock content %}


