{% extends '_base_panel.html' %}
{% load static %}

{% block content %}
  {% include 'component/sidebar.html' %}

  <div class="relative flex flex-col flex-1 md:max-w-screen-2xl mx-auto h-auto p-8 text-gray-700 bg-white shadow-md rounded-xl bg-clip-border">
    <h3 class="w-full mx-auto mt-10 flex items-center justify-between">
      <div class="uppercase text-blue-gray-800 font-bold text-2xl">
        Order ID: <span class="text-blue-900">{{ id }}</span>
      </div>
      <a class="px-4 py-2 bg-gray-900 text-white rounded-md drop-shadow-md hover:opacity-75 transition-all" href="{% url 'e_orders' %}">Go Back</a>
    </h3>


    <div class="bg-blue-gray-50 border-s-4 border-yellow-700 w-full text-blue-900 max-w-screen-xl mx-auto rounded-md drop-shadow-md p-6 mt-12">
        <h2 class="text-xl font-semibold ">Note to Staffs:</h2>
        <p class="font-body text-lg tracking-wide p-4 ">
            Please double check our gcash transaction history if it matches the receipt of the order before hitting the <span class="underline">verification</span> button.
        </p>
    </div>

    <div class="bg-blue-gray-50 rounded-md w-full max-w-screen-xl mx-auto max-h-[500px] overflow-y-auto shadow-md my-10">
      <table class="w-full max-h-[80%] text-left table-auto min-w-max border-collapse">
        <thead class="bg-gradient-to-r from-blue-500 to-teal-500 text-white sticky top-0">
          <tr class="uppercase text-sm">
            <th class="py-3 px-5">Product</th>
            <th class="py-3 px-5">Quantity</th>
            <th class="py-3 px-5">Price</th>
          </tr>
        </thead>
        <tbody>
          {% for item in items %}
            <tr class="text-sm">
              <td class="py-3 px-5 border-e border-e-gray-300 font-semibold">{{ item.product.name }}</td>
              <td class="py-3 px-5 border-e border-e-gray-300 font-semibold">x {{ item.quantity }}</td>
              <td class="py-3 px-5 border-e border-e-gray-300 font-semibold">&#8369; {{ item.formatted_price }}</td>
            </tr>
          {% endfor %}

          <tr class="sticky bottom-0 bg-white">
            <td colspan="2" class="border text-sm border-gray-300 py-3 px-5 font-bold uppercase text-end">Grand Total</td>
            <td class="py-3 px-5 border-teal-500 bg-light-green-50 text-green-800" data-subtotal="{{ subtotal }}" id="grand_total">&#8369; {{ subtotal }}</td>
          </tr>
        </tbody>
      </table>
    </div>



    <div class="mt-8 max-w-screen-xl mx-auto p-8 flex flex-col gap-6">
        <a class="px-4 py-2 bg-teal-600 text-white rounded-md drop-shadow-md hover:opacity-75 transition-all uppercase text-center" href="{% url '_verify' id %}">Verify and Prepare Items</a>
        <a class="px-4 py-2 bg-red-700 text-white rounded-md drop-shadow-md hover:opacity-75 transition-all uppercase text-center" href="{% url 'cancel_order' id %}">Cancel Order</a>
    </div>
  </div>
{% endblock %}
