{% extends "_base_panel.html" %} 

    {% block content %}
        {% include 'component/sidebar.html' %}
        
        <div class="w-full box-border flex flex-col">
            <div class="bg-transparent flex gap-9">
                <div class="relative flex flex-col grow mb-5 mx-5 border-s-8 border-s-slate-800 text-gray-700 bg-gradient-to-tr from-blue-700 to-blue-500 shadow-md bg-clip-border rounded-xl animate-fadeRight">
                    <div class="p-6">
                      <h5 class="block uppercase mb-2 font-sans text-xl antialiased font-semibold leading-snug tracking-normal text-white">
                        Total Users
                      </h5>
                      <p class="block font-sans text-2xl antialiased font-semibold leading-relaxed text-center text-white">
                        {{ total_users }}
                      </p>
                    </div>
                    
                </div>
                <div class="relative flex flex-col grow mb-5 mx-5 border-s-8 border-s-orange-500 text-gray-700 bg-gradient-to-tr from-indigo-900 to-indigo-800 shadow-md bg-clip-border rounded-xl animate-fadeRight1">
                    <div class="p-6">
                      <h5 class="block uppercase mb-2 font-sans text-xl antialiased font-semibold leading-snug tracking-normal text-gray-200">
                        Sales ( Today )
                      </h5>
                      <p class="block font-sans text-2xl antialiased font-semibold leading-relaxed text-center text-white">
                        Php {{ get_sales_today }}
                      </p>
                    </div>
                    
                </div>
                <div class="relative flex flex-col grow mb-5 mx-5 border-s-8 border-s-yellow-500 text-gray-700 bg-gradient-to-tr from-slate-900 to-slate-800 shadow-md bg-clip-border rounded-xl animate-fadeRight2">
                    <div class="p-6">
                      <h5 class="block uppercase mb-2 font-sans text-xl antialiased font-semibold leading-snug tracking-normal text-gray-100">
                        Sales ( Month )
                      </h5>
                      <p class="block font-sans text-2xl antialiased font-semibold leading-relaxed text-center text-white">
                        Php {{ get_sales_current_month }}
                      </p>
                    </div>
                    
                </div>
            </div>
            

            
            <div class="w-full grow flex gap-9 px-5 max-h-[600px]">

                {% comment %} Sales Chart {% endcomment %}
                <div class="relative flex flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md my-5 grow animate-fadeRight1">
                    <div class="relative mx-4 mt-4 flex flex-col gap-4 overflow-hidden rounded-none bg-transparent bg-clip-border text-gray-700 shadow-none md:flex-row md:items-center">
                      <div class="w-max rounded-lg bg-gray-900 p-5 text-white">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="currentColor"
                          aria-hidden="true"
                          class="h-6 w-6"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M6.429 9.75L2.25 12l4.179 2.25m0-4.5l5.571 3 5.571-3m-11.142 0L2.25 7.5 12 2.25l9.75 5.25-4.179 2.25m0 0L21.75 12l-4.179 2.25m0 0l4.179 2.25L12 21.75 2.25 16.5l4.179-2.25m11.142 0l-5.571 3-5.571-3"
                          ></path>
                        </svg>
                      </div>
                      <div>
                        <h6 class="block font-sans text-xl font-semibold leading-relaxed tracking-normal text-blue-gray-900 antialiased">
                          Monthly Sales Chart
                        </h6>
                        <p class="block max-w-sm font-sans text-base font-normal leading-normal text-gray-700 antialiased">
                          Visualize data that has been accumulated for the past months.
                        </p>
                      </div>
                    </div>
                    <div class="pt-6 px-2 pb-0">
                      <div id="bar-chart"></div>
                    </div>
                </div>
                

                {% comment %} Popular product {% endcomment %}
                <div class="relative flex flex-col rounded-xl bg-white bg-clip-border text-gray-700 w-[550px] shadow-md m-5 animate-fadeRight2">
                    <div class="relative mx-4 mt-4 flex flex-col gap-4 overflow-hidden rounded-none bg-transparent bg-clip-border text-gray-700 shadow-none md:flex-row md:items-center">
                      <div class="w-max rounded-lg bg-gray-900 p-5 text-white">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="currentColor"
                          aria-hidden="true"
                          class="h-6 w-6"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M6.429 9.75L2.25 12l4.179 2.25m0-4.5l5.571 3 5.571-3m-11.142 0L2.25 7.5 12 2.25l9.75 5.25-4.179 2.25m0 0L21.75 12l-4.179 2.25m0 0l4.179 2.25L12 21.75 2.25 16.5l4.179-2.25m11.142 0l-5.571 3-5.571-3"
                          ></path>
                        </svg>
                      </div>
                      <div>
                        <h6 class="block font-sans text-xl font-semibold leading-relaxed tracking-normal text-blue-gray-900 antialiased">
                           Product Popularity Chart
                        </h6>
                        <p class="block max-w-sm font-sans text-base font-normal leading-normal text-gray-700 antialiased">
                          Visualize data on popular product to generate ideas about the trend.
                        </p>
                      </div>
                    </div>
                    <div class="py-6 mt-4 grid place-items-center px-2">
                      <div id="pie-chart"></div>
                    </div>
                  </div>



            </div>
        </div>
        
    {% endblock %}