{% load compress %}
{% load static %}
 
<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon_io/apple-touch-icon.png' %}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon_io/favicon-32x32.png' %}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon_io/favicon-16x16.png' %}" />
    <link rel="manifest" href="{% static 'favicon_io/site.webmanifest' %}" />
    
    <title>LZ Fishing Grounds</title>
 
    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %}

</head>
 
  <body class="flex flex-col h-screen p-0 overflow-hidden">
 
     <!-- Header -->   
     <div class="w-full place-items-center rounded-lg p-6">
      <div class="-m-6 max-h-[768px] w-[calc(100%+48px)]">
        <nav
          class="sticky top-0 z-10 block w-full max-w-full px-4 py-2 text-dark-600 bg-white border rounded-none shadow-md h-max lg:px-8 lg:py-4">
          <div class="flex items-center justify-between text-dark-600 ">
            <a href="#"
              class="lock font-sans text-2xl font-semibold leading-snug tracking-normal text-inherit antialiased text-blue-700">
              <img src="{% static 'img/logo.png' %}" alt="logo" width="200">
            </a>

          </div>
        </nav>
        
      </div>
    </div>

     <!-- Content -->   
     
    <div class="grow bg-slate-200 overflow-auto py-8">
      {% block content %} {% endblock content %}
    </div>

     <!-- Footer -->   
    <footer class="w-full bg-slate-800 m-0">
      <span class="block my-5 border-t border-blue-gray-600" />
      <p class="block font-sans text-base antialiased font-light leading-relaxed text-center text-white pt-5">
        ©  {% now "Y" %} LZ Fishing Grounds Petshop
      </p>
    </footer>



    <!-- script -->
    <script type="module" src="{% static 'src/js/popover.js' %}"></script>
    <script src="{% static 'src/js/ripple.js' %}"></script>
    <script src="{% static 'src/js/dialog.js' %}"></script>
    <script src="{% static 'src/js/collapse.js' %}"></script>
    <script type="module" src="{% static 'src/js/tooltip.js' %}"></script>
    
  </body>

</html>